tests/.ipynb_checkpoints/
tests/__pycache__/
microlensing/.ipynb_checkpoints/
microlensing/__pycache__/
.ipynb_checkpoints/
__pycache__/
plots/*.png
plots/*/*.png
plots/*/*/*.png
results/*/*.parquet
tasks/.*.sw*
microlensing/*.sw*
task_yamls/*
rubin_sim_output/
rubin_sim_yamls/
logs/
analyses/
notebooks/*
.ipynb_checkpoints
